# Настройки PostgresDB
DB_NAME=movies_database
DB_USER=app
DB_PASSWORD=123qwe
DB_HOST=db
DB_PORT=5432

#Настройки DJANGO_ADMIN
DEBUG=True
DJANGO_PORT=8000
ALLOWED_HOSTS=localhost,127.0.0.1
SECRET_KEY=example
DJANGO_SUPERUSER_PASSWORD=123qwe
DJANGO_SUPERUSER_EMAIL=example@example.com
DJANGO_SUPERUSER_USERNAME=admin

EVENT_URL=http://notification_api:8000

#Настройки MONGO
MONGO_URL=mongodb://mongodb:27017/notifications
MONGO_USER=admin
MONGO_PASSWORD=password123
MONGO_DB=notifications
MONGO_HOST=mongodb
MONGO_PORT=27017

#Настройки RABBITMQ
RABBITMQ_DEFAULT_USER=rmuser
RABBITMQ_DEFAULT_PASS=rmpassword
RABBITMQ_HOSTNAME=rabbitmq
RABBITMQ_QUEUE=notifications
RABBITMQ_QUEUE_WS=websockets
RABBITMQ_QUEUE_SEND=sender
RABBITMQ_QUEUE_SCHEDULED=scheduled
RABBITMQ_PORT=5672
RABBITMQ_WEB_PORT=15672
RABBITMQ_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@${RABBITMQ_HOSTNAME}:${RABBITMQ_PORT}//

# Настройки Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Настройки Elasticsearch
ELASTIC_HOST=elastic
ELASTIC_PORT=9200

# Настройки FileAPI
FILE_API_HOST=file_api
FILE_API_PORT=8001

#Настройки MINIO
MINIO_ROOT_USER=practicum
MINIO_ROOT_PASSWORD=StrongPass
MINIO_HOST=minio:9000
MINIO_ACCESS_KEY=q0h0UkcdW3Gbo4dGMk1u
MINIO_SECRET_KEY=G7AoEKXO8W58r5UxUP9c4urYt5kCwJRla1cVF3FF
BACKET_NAME=movies

# JWT настройки
SECRET_KEY=58ea1679ffb7715b56d0d3416850e89284331fc38fcf2963f5f26577bf1fac5b
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=30

# Jaeger
JAEGER_HOST=jaeger
JAEGER_PORT=16686
JAEGER_UDP=6831
ENABLE_TRACING=False

# Social
PROVIDERS__vk__client_id=your_vk_client_id
PROVIDERS__vk__client_secret=your_vk_client_secret
PROVIDERS__vk__redirect_uri=https://yourdomain.com/auth/callback
PROVIDERS__vk__scope=email,profile
PROVIDERS__vk__auth_url=https://oauth.vk.com/authorize
PROVIDERS__vk__token_url=https://oauth.vk.com/access_token
PROVIDERS__vk__user_info_url=https://api.vk.com/method/users.get

PROVIDERS__google__client_id=your_google_client_id
PROVIDERS__google__client_secret=your_google_client_secret
PROVIDERS__google__redirect_uri=https://yourdomain.com/auth/callback
PROVIDERS__google__scope=openid,email,profile
PROVIDERS__google__auth_url=https://accounts.google.com/o/oauth2/v2/auth
PROVIDERS__google__token_url=https://oauth2.googleapis.com/token
PROVIDERS__google__user_info_url=https://www.googleapis.com/oauth2/v3/userinfo


AUTH_API_LOGIN_URL=http://auth:8080/api/auth/v1/login/

# Celery settings
CELERY_BROKER_URL=amqp://rmuser:rmpassword@rabbitmq:5672//
CELERY_RESULT_BACKEND=rpc://rmuser:rmpassword@rabbitmq:5672//
TIME_ZONE=UTC

#Seneder settings
EMAIL_LOGIN=test
EMAIL_PASSWORD=test
EMAIL_DOMAIN=email.com
EMAIL_SMTP_HOST=mailhog
EMAIL_SMTP_PORT=1025