aiohttp==3.10.5
anyio==4.4.0
async-timeout==4.0.3
asyncpg==0.29.0
fastapi==0.111.0
Faker==25.2.0
miniopy-async==1.21.1
pydantic==2.9.1
pydantic-settings==2.4.0
pydantic_core==2.23.3
python-dotenv==1.0.1
pytest-asyncio~=0.23.5
SQLAlchemy==2.0.34
starlette==0.37.2
shortuuid==1.0.13
uvicorn==0.30.6